<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='app.css') }}">
    </head>
    <body>
        <header>
            <div class ="container">
                <nav>
                    <ul class = "main">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/students.html">Students</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrow Reports</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
<h1>Edit Publisher Data</h1>
<br>
<div id="insert">
    <form method="POST" id= "update publisher">
        <legend><strong>Update Publisher </strong></legend>
          <fieldset class="fields">
                <label for='Name'> Publisher Name </label>
                  <input type="text" id = 'name' name= 'name' value ={{name}} required><br><br>
                <label for='Email'> Email </label>    
                  <input type="text" id = 'email' name= 'email' value ={{email}} required><br><br>
      </fieldset>
          <input class="btn" type="submit" name="edit_publisher" value="Edit Publisher">
          <input class="btn" type="button" value="Cancel" onClick="location.href='/publishers.html'">
	</form>
</div>


    </body>
</html>