<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='app.css') }}">
    </head>
    <body>
        <header>
            <div class ="container">
                <nav>
                    <ul class = "main">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../students.html">Students</a></li>
                    <li><a href="../authors.html">Authors</a></li>
                    <li><a href="../publishers.html">Publishers</a></li>
                    <li><a href="../books.html">Books</a></li>
                    <li><a href="../borrowers.html">Borrow Reports</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
<h1>Edit Author Data</h1>
<br>
<div id="insert">
    <form method="POST" id= "update Author">
        <legend><strong>Update Author </strong></legend>
          <fieldset class="fields">
                <label for='First Name'> First Name </label>
                  <input type="text" id = 'fname' name= 'fname' value ={{fname}} required><br><br>
                <label for='Last Name'> Last Name </label>    
                  <input type="text" id = 'lname' name= 'lname' value ={{lname}} required><br><br>
      </fieldset>
          <input class="btn" type="submit" name="edit_author" value="Edit Author">
          <input class="btn" type="button" value="Cancel" onClick="location.href='/authors.html'">
	</form>
</div>


    </body>
</html>